<div id="footer" class="uk-text-center {{#if position-bottom}}uk-position-bottom{{/if}}">
    <div class="uk-margin-medium-bottom">
        <a class="black disable-link-highlighting uk-margin-medium-right" href="/"><b>Home</b></a>
        <a class="black disable-link-highlighting uk-margin-medium-right" href="/bot"><b>Chatbot</b></a>
        <a class="black disable-link-highlighting {{#if profile}}uk-margin-medium-right{{/if}}" href="/profiles"><b>Profiles</b></a>
        <a class="black disable-link-highlighting" href="/profile"><b>{{#if profile}}My Profile{{/if}}</b></a>
    </div>

    <div class="uk-margin-small-top">
        <p>By the Indiana University Bloomington team</p>
    </div>
</div>

</body>

</html>