<footer id="footer" class="uk-text-center {{#if position-bottom}}uk-position-bottom{{/if}}">
    <div class="uk-margin-medium-bottom">
        <a class="black disable-link-highlighting uk-margin-medium-right" href="/"><b>Home</b></a>
        <a class="black disable-link-highlighting uk-margin-medium-right" href="/bot"><b>Chatbot</b></a>
        <a class="black disable-link-highlighting" href="/profiles"><b>Profiles</b></a>
    </div>

    <div class="uk-margin-small-top">
        <p>Indiana University Bloomington team · Icons by <span style="text-decoration: underline;"><a href="https://icons8.com/">Icons8</a></span></p>
    </div>
</footer>

</body>

</html>

<script>
    $(document).ready(function() {
        console.log(window.location.pathname)
    })

    if (window.location.pathname == '/') {
        console.log('Reached')
        $('footer').css('color', 'white')
        $('a').css('color', 'white')
    }
</script>