<div class="uk-text-center" style="align-items: center; margin-top: 16px; margin-bottom: 16px;">
    <img class="profileImg" src="{{user.profileImage}}">
</div>

<div>
    <h3 class="uk-text-center">Recently Played</h3>
    {{#each recentlyPlayed}}
        {{> partials/render-track-info.hbs }}
    {{/each}}
</div>

<a href="/favorites" class="uk-button uk-button-default uk-margin-small-bottom" style="border-radius: 5000px; border: 1px solid black">
    Favorites <span uk-icon="icon: heart"></span>
</a>

<a href="/friends" class="uk-button uk-button-default uk-width-1-2" style="border-radius: 5000px; border: 1px solid limegreen">
    Friends
</a>
