<div class="profileSidebar" style="color: black;">

    <h2 class="uk-text-center" style="padding: 0px; text-align: center; margin: 0;">Hello <b>{{user.id}}</b>.</h2>
    <p class="uk-text-center uk-margin-remove">See your <a target="_blank" href="/bot/chatlogs/{{user.id}}">chat logs →</a></p>
    {{> partials/profile.hbs this }}
</div>