{{> partials/header.hbs }}

<div class="uk-margin-small-top uk-section uk-section-medium uk-padding-remove-bottom">
    <div class="uk-text-center">
        <h2 class="moderate-bold uk-margin-small-bottom">Favorites</h2>
        <p class="light uk-margin-remove-top">Go <a href="/bot">back to GEICObot →</a></p>
    </div>

    <div class="uk-width-1-2 uk-margin-auto uk-margin-medium-bottom" style="overflow-y:scroll;height:50%">
        {{#each favorites}}
            {{> partials/render-track-info.hbs }}
        {{/each}}
    </div>
</div>

{{> partials/footer.hbs }}