{{> partials/header.hbs }}

<div class="uk-margin-small-top uk-section uk-section-medium uk-padding-remove-bottom">
    <div class="uk-text-center">
        <h2 class="moderate-bold uk-margin-small-bottom">Favorites</h2>
        <p class="light uk-margin-remove-top">Go <a href="/bot">back to GEICObot →</a></p>
    </div>

    <div class="uk-width-1-3 uk-margin-auto uk-margin-medium-bottom">
        {{#if noFavorites}}
            <h3>You don't have any favorites! Click the heart next to recently played songs to add them to your favorites.</h3>
        {{/if}}
        {{#each favorites}}
            {{> partials/render-track-info.hbs }}
        {{/each}}
    </div>
</div>

{{> partials/footer.hbs }}