{{> partials/header.hbs }}

<link rel="stylesheet" type="text/css" href="../../css/main.css">

<script>
    if (window.location.search.substr(1) === "login=true") {
        UIkit.notification("You've logged in! Use one of the links below to get started", 'success');
    } else if (window.location.search.substr(1) === "logout=true") {
        UIkit.notification("You've logged out!", 'primary');
    }
</script>

<div style="width:100%;height:89%;background-image: linear-gradient(white, green);">
    <div class="uk-margin-small-top uk-section uk-section-large">
        <p class="uk-text-center" style="margin-top:-3%;font-size:74px;font-family: 'Rubik', sans-serif;"><b>GEICOBot</b></p>
        <h1 class="light uk-text-center" style="padding-bottom:25px">An interactive music recommendation chatbot and network</h1>


        <div style="display:inline-block;text-align:center;padding-left:0;position:absolute; top:48%; left:15%;">
            <h2 class="moderate-bold uk-text-center" style="padding-top:0;position:-webkit-sticky;vertical-align:top">View Favorites</h2>
            <a href="/favorites" class="black index-pic" ><img class="optionright" src="https://www.jing.fm/clipimg/full/14-148536_black-hearts-clipart-transparent-background-heart-icon.png" width="150px"/></a>
        </div>

        <div style="text-align:center;">
           <div style="text-align:center">
                <div style="display:inline-block;text-align:center;position:absolute;top:48%; left:43.5%;">
                    <h2 class="moderate-bold uk-text-center" style="vertical-align:top">Go to the chatbot </h2>
                    <a href="/bot" class="black index-pic"><img class="optionleft" src="https://f-scope.net/images/message-icon-png-6.png" width="150px"/></a>

                </div>

                <div style="display:inline-block;text-align:center;padding-left:0;position:absolute; top:48%; right:17%;">
                    <h2 class="moderate-bold uk-text-center" style="padding-top:0;position:-webkit-sticky;vertical-align:top">View Profiles</h2>
                    <a href="/profiles" class="black index-pic" ><img class="optionright" src="https://www.freeiconspng.com/uploads/group-of-people-in-a-formation-23.png" width="150px"/></a>
                </div>

            </div>
        </div>



    </div>
</div>

{{> partials/footer.hbs }}