{{> partials/header.hbs }}

<script>
    if (window.location.search.substr(1) === "login=true") {
        UIkit.notification("You've logged in! Use one of the links below to get started", 'success');
    } else if (window.location.search.substr(1) === "logout=true") {
        UIkit.notification("You've logged out!", 'primary');
    }
</script>

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <h2 class="light uk-text-center">An interactive music recommendation chatbot and network</h2>

        <h2 class="moderate-bold uk-text-center"><a href="/bot" class="black">Go to the bot {{> open-in-new.hbs }}</a></h2>

        <h2 class="moderate-bold uk-text-center"><a href="/player" class="black">Play some music {{> open-in-new.hbs }}</a>
        </h2>
    </div>
</div>

{{> partials/footer.hbs }}