{{> partials/header.hbs }}

<div class="uk-margin-small-top uk-section uk-section-large uk-padding-remove-bottom">
    <div class="uk-text-center">
        <h2 class="moderate-bold uk-margin-small-bottom">My Profile</h2>
        <p class="light uk-margin-remove-top">{{user.id}}</p>
    </div>
</div>

{{> partials/footer.hbs }}